<!DOCTYPE html>
<html lang="en">

<head>
    {{>meta}}
    <title>TRUSTED DRIVE</title>
    {{>fontAwesome}}
    <link rel="stylesheet" href="/asset/css/style.css">
    {{>style}}
    
</head>

<body>
     {{>emergency}}
    <main>
        {{>nav}}
        <header class="head">
        <div class="head-text">
            <h1 class="head1">WELCOME TO A NEW PROFESSIONAL COMMUNITY</h1>
            <a class="head-button" href="#">
                <span class="head-text-link-text">Post a job</span> 
                <span class="head-text-link-symb">></span>
            </a>
            <a class="head-button" href="#">
                <span class="head-text-link-text">Search for a job</span> 
                <span class="head-text-link-symb">></span>
            </a>
            <a class="head-button" href="#">
                <span class="head-text-link-text">Find a person you know</span> 
                <span class="head-text-link-symb">></span>
            </a>
        </div>
        <div class="head-img">
            <img src="./asset/image/autoserviceonline.jpg"
                alt="Oops...This page could not be loaded at this moment">
        </div>
    </header>
        <section id="feature">
        <div class="feature-content">
            <h2 id="feature2">Let the right people know you're open to WORK</h2>
            <p id="para1"><b> With the Open To Work feature, you can privately tell recruiters or publicly share with
                    the
                    LinkedIn community that you are looking for new job opportunities </b></p>
        </div>
        <div class="picture" style="padding: 0;">
            <img src="./asset/image/road.jpg"
                alt="Picture can't be loaded at the moment.... Sorry for inconvenience.">
        </div>
    </section>

    <section id="connect">
        <div class="connect-picture">
            <img src="./asset/image/reparing.jpeg"
                alt="Picture can't be loaded at the moment.... Sorry for inconvenience.">
        </div>
        <div class="connect-content">
            <h2 id="connect2"><b>Connect with People who can Help</b></h2>
            <a href="#">Find people you know</a>
        </div>
    </section>
    {{>footer}}
    </main>
</body>
{{>script}}
</html>