<!DOCTYPE html>
<html lang="en">

<head>
    {{>meta}}
    <title>Login</title>
    {{>fontAwesome}}
    {{>style}}
</head>

<body>
    <main>
        {{>nav}}
        <div class="container container-join-us">
            <div class="content  content-join-us">
                <div class="content-client-join-us">
                    <div class="client-header">
                        <div class="img">
                            <img src="/asset/image/vehicle_driving.png" alt="Be Our Customer Image">
                        </div>
                        <div class="title">
                            <h2 class="title">User Login</h2>
                        </div>
                    </div>
                    <div class="client-btn">
                        <a href="/sign-in-client" class="client-link">Client Sign-in</a>
                    </div>
                    <div class="client-description">
                        <p class="description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas similique possimus
                            consectetur quasi facere praesentium. Veniam maxime, recusandae quidem blanditiis
                            doloremque, perferendis pariatur praesentium dolorem commodi ullam eum, modi quo.
                        </p>
                    </div>
                </div>
                <div class="content-employee-join-us">
                    <div class="employee-header">
                        <div class="img">
                            <img src="/asset/image/vehicle_repair.png" alt="Work For Us Image">
                        </div>
                        <div class="title">
                            <h2 class="title">Employee Login</h2>
                        </div>
                    </div>
                    <div class="employee-btn">
                        <a href="/sign-in-employee" class="employee-link">Employee Sign-in</a>
                    </div>
                    <div class="employee-description">
                        <p class="description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas similique possimus
                            consectetur quasi facere praesentium. Veniam maxime, recusandae quidem blanditiis
                            doloremque, perferendis pariatur praesentium dolorem commodi ullam eum, modi quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{{>script}}
</html>