<!DOCTYPE html>
<html lang="en">

<head>
    {{>meta}}
    <title>vehicle servicing</title>
    {{>fontAwesome}}
    {{>style}}
</head>

<body>
    <main>
        {{>nav}}
        <div class="container container-service">
            <div class="content  content-service">
                <div class="content-schedule-service">
                    <div class="schedule-header">
                        <div class="img">
                            <img src="/asset/image/scheduling.png" alt="schedule icon Image">
                        </div>
                        <div class="title">
                            <h2 class="title">Schedule Your Service</h2>
                        </div>
                    </div>
                    <div class="schedule-btn">
                        <a href="/schedule-your-service" class="schedule-link">Schedule Your Service</a>
                    </div>
                    <div class="schedule-description">
                        <p class="description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas similique possimus
                            consectetur quasi facere praesentium. Veniam maxime, recusandae quidem blanditiis
                            doloremque, perferendis pariatur praesentium dolorem commodi ullam eum, modi quo.
                        </p>
                    </div>
                </div>
                <div class="content-emergency-service">
                    <div class="emergency-header">
                        <div class="img">
                            <img src="/asset/image/emergency.png" alt="Emergency icon Image">
                        </div>
                        <div class="title">
                            <h2 class="title">Emergency Service</h2>
                        </div>
                    </div>
                    <div class="emergency-btn">
                        <a href="/schedule-your-service-for-emergency" class="Emergency-link">Schedule Service Now</a>
                    </div>
                    <div class="emergency-description">
                        <p class="description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas similique possimus
                            consectetur quasi facere praesentium. Veniam maxime, recusandae quidem blanditiis
                            doloremque, perferendis pariatur praesentium dolorem commodi ullam eum, modi quo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
{{>script}}
</html>