<div class="container-emergency" id="container-emergency">
    <div class="content-emergency">
        <div class="content-header emergency-header">
            <h2>Emergency Client</h2>
            <span onclick="toggleEmergency()" class="close-emergency" id="close-emergency">&times;</span>
        </div>
        <div class="content-information">
            <div class="servicing-list">
                <div class="list-map" id="list-map"></div>
                <div class="list-content">
                    <div class="list-field">
                        <div class="servicing-model-name">
                            <div class="label-servicing">Model Name</div>
                            <div class="value-servicing">Tata Nexon EV</div>
                        </div>
                        <div class="servicing-drop-location">
                            <div class="label-servicing">Drop Location</div>
                            <div class="value-servicing">XMH2+2MW Goh, Bihar, India</div>
                        </div>
                        <div class="servicing-schedule-date">
                            <div class="label-servicing">Schedule Date</div>
                            <div class="value-servicing">26-05-2022</div>
                        </div>
                        <div class="servicing-schedule-time">
                            <div class="label-servicing">Schedule Time</div>
                            <div class="value-servicing">12pm to 3pm</div>
                        </div>
                        <div class="servicing-description">
                            <div class="label-servicing">Description</div>
                            <div class="value-servicing">Replace tyre</div>
                        </div>
                    </div>
                    <div class="list-btn">
                        <div class="accept-btn">
                            <a href="#">Accept</a>
                        </div>
                        <div class="reject-btn">
                            <a href="#">Reject</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>