<footer>
        <div class="footer-container" style="background-color: #333;">
            <div class="heading-footer">
                <h2>TrustedDrive</h2>
            </div>
            <div class="course-footer">
                <h3>Service</h3>
                <a href="/jobs/post-job">Post a jobs</a>
                <a href="/jobs/search-job">Search for a job</a>
                <a href="/connection/find-new-people">Find a person you know</a>
            </div>
            <div class="support-foooter">
                <h3>support</h3>
                <a href="#">About</a>
                <a href="#">Help Center</a>
                <a href="#">Privacy & Terms</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="copy-social-link" style="background-color: #444;">
            <div class="copy-right">
                <span>&copy; TrustedDrive 2022.</span>
            </div>
            <div class="footer-social-link">
                <a href="#" class="fb-link"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="inst-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="In-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="youtb-link"><i class="fab fa-youtube"></i></a>
                <a href="#" class="twit-link"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>