<nav class="nav-bar" id="nav-bar">
    <div class="nav-bar-menu">
        <div class="nav-bar-logo">
            <a class="nav-link" id="link-brand" href="#">TRUSTED DRIVE</a>
        </div>
        <div class="nav-menu">
            <div class="menu" onclick="menu(this)">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
        </div>
    </div>
    <div class="nav-bar-link" id="nav-bar-link-id">
        <a class="nav-link" id="link-home" href="/home"></i>HOME</a>
        <a class="nav-link" id="link-about" href="/about"></i>ABOUT</a>
        <a class="nav-link" id="link-sign-in" href="/sign-in">SIGN IN</a>
        <a class="nav-link" id="link-join-us" href="/sign-up">JOIN US</a>
        <a class="nav-link" id="link-emergencies" href="/emergencies">EMERGENCIES</a>
    </div>
</nav>