<nav class="nav-bar" id="nav-bar">
    <div class="nav-bar-menu">
        <div class="nav-bar-logo">
            <a class="nav-link" id="link-brand" href="/">TRUSTED DRIVE</a>
        </div>
        <div class="nav-menu">
            <div class="menu" onclick="menu(this)">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
        </div>
    </div>
    <div class="nav-bar-link" id="nav-bar-link-id">
        {{#if client}}
        <a class="nav-link" id="link-home" href="/home"></i>HOME</a>
        <a class="nav-link" id="link-your-vehicle" href="/repair-your-vehicle">SERVICING</a>
        <a class="nav-link" id="link-our-service" href="/our-service">SERVICING STATUS</a>
        <a class="nav-link" id="link-profile" href="/profile">{{login.name}}</a>
        <a class="nav-link" id="link-sing-out" href="/log-out">SIGN-OUT</a>
        {{/if}}
        {{#if employee}}
        <a class="nav-link" id="link-home" href="/home"></i>HOME</a>
        <a class="nav-link" id="link-about" href="/dashboard"></i>FIND CLIENT</a>
        <a class="nav-link" id="link-sign-in" href="/our-client">VIEW CLIENT</a>
        <a class="nav-link" id="link-profile" href="/profile">{{login.name}}</a>
        <a class="nav-link" id="link-sing-out" href="/log-out">SIGN-OUT</a>
        {{/if}}
        {{#if none}}
        <a class="nav-link" id="link-home" href="/home"></i>HOME</a>
        <a class="nav-link" id="link-about" href="/about"></i>ABOUT</a>
        <a class="nav-link" id="link-sign-in" href="/sign-in">SIGN IN</a>
        <a class="nav-link" id="link-join-us" href="/join-us">JOIN US</a>
        {{/if}}
    </div>
</nav>